<!-- Toolbar -->
<app-header></app-header>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<main [hidden]="isLoading">
  <!-- Button to add new tasks -->
  <button mat-raised-button color="primary" (click)="openAddDialog()">
    Add task
  </button>
  <!-- Pending tasks -->
  <section>
    <app-task-list
      [taskList]="incompleteTasks"
      title="Pending tasks"
      icon="edit"
      emptyStateMessagge="No pending tasks. Good job!"
      (selectedTask)="openEditTask($event)"
      (checkValueChange)="editTask($event)"
    ></app-task-list>
  </section>
  <!-- Done tasks -->
  <section>
    <app-task-list
      [taskList]="completedTasks"
      title="Completed tasks"
      icon="delete"
      emptyStateMessagge="No completed tasks yet!"
      (selectedTask)="removeTask($event)"
      (checkValueChange)="editTask($event)"
    ></app-task-list>
  </section>
</main>
